html {font-size: 16pt;}
body {
  margin: 0;
  font-family: "Bitter";
  background-color: #eee;
  color: #222;
}
header {
  background-color: #084b7f;
  text-align: center;
}
header a {
  display: inline-block;
  padding: 1em;
  color: #fff;
}
header a:hover {background-color: #2d7bb6;}

.container {
  max-width: 1170px;
  margin: auto;
}

h1 {text-align: center;}

.presentation {
  display: block;
  padding: .5rem;
  color: #000;
  text-align: center;
  text-decoration: none;
}
.presentation .date {
  display: block;
  font-family: Georgia;
  font-size: 75%;
  color: #444;
}
.presentation iframe {
  width: 400%;
  height: 800px;
  margin-bottom: -600px;
  -moz-transform: scale(0.25, 0.25);
  -webkit-transform: scale(0.25, 0.25);
  -o-transform: scale(0.25, 0.25);
  -ms-transform: scale(0.25, 0.25);
  transform: scale(0.25, 0.25);
  -moz-transform-origin: top left;
  -webkit-transform-origin: top left;
  -o-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
}