html {font-size: 16pt;}
body {
  margin: 0;
  font-family: "Bitter";
  background-color: #eee;
  color: #222;
  overflow-x: hidden;
}
header {
  text-align: center;
  background-color: #084b7f;
}
header a {
  display: inline-block;
  padding: 1em 2em;
  color: #fff;
}
header a:hover {background-color: #2d7bb6;}
header a.title{text-decoration: none;}
@media (max-width: 976px) {
  header a {
    padding-left: 6px;
    padding-right: 6px;
  }
}
@media (max-width: 600px) {
  header a {
    display: block;
    width: 100%;
  }
}

.container {
  max-width: 1170px;
  margin: auto;
}

h1 {
  margin-bottom: 0;
  text-align: center;
}
h1 + p {
  margin: 0;
  text-align: center;
}

.presentation {
  display: block;
  padding: .5rem;
  color: #000;
  text-align: center;
  text-decoration: none;
}
.presentation .date {
  display: block;
  font-family: Georgia;
  font-size: 75%;
  color: #444;
}
.presentation iframe {
  width: 100%;
  height: 200px;
  border: 4px solid #fff;
  box-shadow: 0 1px 4px rgba(0,0,0,.3);
}

.row.homework .col {text-align: center;}
.row.homework .col img {max-width: 50%;}
.row.homework .col .two {margin: 18px auto 38px;}
.row.homework .col p {margin: 0;}
.row.homework .col pre {
  max-width: 50%;
  margin: auto;
  text-align: left;
  font-size: 70%;
}
.row.homework .col small {font-size: 60%;}
